<div class="card">
  <div class="card-body">
    <h4 class="card-title">
      {{ transaction().date }} :
      @if (transaction().type == 'Expense') {
        -${{ transaction().amount }}
      } @else {
        +${{ transaction().amount }}
      }
    </h4>
    <app-category-details [id]="transaction().categoryId" />
    <h6>Notes:</h6>
    <p class="card-text">{{ transaction().notes }}</p>
    <button class="btn btn-primary" [routerLink]="['transaction/edit', transaction().id]">
      Edit
    </button>
    <button class="btn btn-danger" (click)="transactionService.delete(transaction().id!)">
      Delete
    </button>
  </div>
</div>
