<div class="card">
  <div class="card-body">
    <h3 class="card-title">{{ transaction().date.toDate().toLocaleDateString() }}</h3>
    <h4 [class]="transaction().type == 'Expense' ? 'text-danger' : 'text-success'">
      {{ transaction().type == 'Expense' ? '-' : '+' }}${{ transaction().amount }}
    </h4>
    <app-category-details [id]="transaction().categoryId" />
    @if (transaction().notes) {
      <h6>Notes:</h6>
      <p class="card-text">{{ transaction().notes }}</p>
    }
    <button class="btn btn-primary" [routerLink]="['transaction/edit', transaction().id]">
      Edit
    </button>
    <button class="btn btn-danger" (click)="transactionService.delete(transaction().id!)">
      Delete
    </button>
  </div>
</div>
