<div class="container-fluid">
  <h4>Edit Transaction</h4>

  <div>
    <label for="income">Income</label>
    <input type="radio" id="income" name="type" [value]="'Income'" [(ngModel)]="type" />
    <label for="expense">Expense</label>
    <input type="radio" id="expense" name="type" [value]="'Expense'" [(ngModel)]="type" />
  </div>

  <div>
    <label for="amount">Amount:</label>
    <input type="number" id="amount" [(ngModel)]="amount" />
  </div>

  <div>
    <label for="category">Category:</label>
    <select id="category" [(ngModel)]="categoryId">
      @for (category of categoryService.userCategories(); track category.id) {
        <option [ngValue]="category.id">{{ category.name }}{{ category.icon }}</option>
      }
    </select>
  </div>

  <div>
    <label for="date">Date:</label>
    <input type="date" id="date" [(ngModel)]="date" />
  </div>

  <div>
    <label for="notes">Notes:</label>
    <input type="text" id="notes" [(ngModel)]="notes" />
  </div>

  <button class="btn btn-primary" (click)="edit()">Edit</button>
  <p [class]="message().startsWith('Err:') ? 'text-danger' : 'text-success'">{{ message() }}</p>
</div>
