.Work {
  color: blueviolet;
}

.Personal {
  color: tomato;
}

.Grocery {
  color: green;
}

.Utilities {
  color: blue;
}

.Shopping {
  color: darkkhaki;
}

.Travel {
  color: coral;
}

.Food {
  color: darkgoldenrod;
}

.None {
  font-family: monospace;
}
