<div class="container-fluid">
  <h1>{{ user()?.username }}'s Profile</h1>
  <div class="row mb-2">
    <div class="col-1">
      <label for="username">Username: </label>
    </div>
    <div class="col-auto">
      <input class="text" id="username" [(ngModel)]="username" />
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" (click)="updateUsername()">Update</button>
    </div>
  </div>
  <div class="row">
    <div class="col-1">
      <label for="email">Email: </label>
    </div>
    <div class="col-auto">
      <input class="email" id="email" [(ngModel)]="email" />
    </div>
    <div class="col-auto">
      <button class="btn btn-primary" (click)="updateEmail()">Update</button>
    </div>
  </div>
  <p [class]="message().startsWith('Err:') ? 'text-danger' : 'text-success'">{{ message() }}</p>
</div>
